<!DOCTYPE html>
<html>
<head>
  <style>
    ul {
      list-style: none;
      
    }
    
    a {
      text-decoration:none;
      color: blue;
    }
    
  </style>
</head>

<body>
  
<h1>Alpha Blog</h1>

<ul>
  <li><%= link_to 'About', about_path %></li>
</ul>

</body>

</html>